{% extends "base.html" %}
{% block content %}
    <a href="https://vk.com/dambldor01"><img class="aleksey" src="{{ url_for('static', filename='aleksey.jpg') }}" alt="картиночка"></a>
<h1 class="full_name">Калинов<br> Алексей <br> </h1>
<div class="container-fluid" >
    <p class="text-description">Добро пожаловать! Меня зовут Алексей Калинов, и я – разработчик музыкальных сервисов, готовый погрузиться в увлекательный мир музыкальных технологий.

        <br>Моя страсть к музыке началась еще в детстве, и теперь я стремлюсь создавать инновационные музыкальные сервисы. Любовь к звукам, ритмам и мелодиям вдохновляет меня на создание продуктов, которые не только приносят удовольствие, но и объединяют людей через музыку.

        <br>Я убежден, что музыкальные сервисы – это не просто инструмент развлечения, но и средство передачи эмоций, искусства и культуры. Моя цель – создавать платформы, которые будут вдохновлять, обогащать и делать жизнь ярче.

        <br>На данный момент я продолжаю изучение и совершенствование своих навыков, но моё стремление и энтузиазм не знают границ. Уверен, что смогу предложить музыкальные сервисы, которые станут любимыми среди пользователей по всему миру.

        <br>Здесь вы найдете мои проекты, разработанные с любовью к звукам и вниманием к деталям. Я верю, что в музыкальных сервисах важны интуитивный интерфейс, высококачественный звук и возможность открытия новых музыкальных горизонтов. Этими принципами я руководствуюсь в своей работе.

        <br>Я всегда открыт для новых идей и сотрудничества. Если вы разделяете мою страсть к музыке и хотите внести свой вклад в создание инновационных музыкальных сервисов, буду рад видеть вас в нашей команде.

        <br>Присоединяйтесь ко мне в этом захватывающем путешествии по созданию современных и уникальных музыкальных сервисов. Давайте вместе делать мир звуков богаче и удивительнее!</p>
</div>

<div class="facts">
    <ul>
        <li>Имя: Алексей Калинов</li>
        <li>Возраст 20 лет</li>
        <li>Разработчик музыкальных сервисов</li>
        <li>Музыка - страсть с детства</li>
    </ul>
</div>
{% endblock %}